<div class="container text-center">
  <h1 class="my-5">About Me</h1>
  <img src="img/1312046.png" width="250px" class="img-fluid" alt="Foto" />
  <h2>Mochamad Aris</h2>
  <p>Perkenalkan nama saya Mochamad Aris, Sekian</p>

  <p class="font-italic font-weight-light mt-5">
    *Note: di laptop sama hp gaada foto. Serius✌️
  </p>
</div>
