<div class="container">
  <h1 class="text-center my-3">Contacts List</h1>

  <div class="table-responsive">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary btn-lg add-btn"
      data-bs-toggle="modal"
      data-bs-target="#modalId"
    >
      Add
    </button>
    <table
      class="table mx-auto mt-2 table-striped table-hover w-50 text-center"
    >
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Mobile</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 1; %> <% if(contacts.length == 0) { %>
        <td colspan="3" class="text-center text-danger">Data Kontak Kosong</td>
        <% } else {%> <% contacts.forEach(contact => { %>
        <tr>
          <td><%= i %></td>
          <td><%= contact.name %></td>
          <td><%= contact.phone %></td>
          <td><span class="badge rounded-pill bg-primary"><a class="text-light" href="/contact/<%= contact.id %>">Detail</a></span></td>
        </tr>
        <% i++ %> <% })} %>
      </tbody>
    </table>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="modalId"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/contact/add" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
              <div class="mb-3">
                <!-- Form name -->
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  aria-describedby="helpId"
                  placeholder="Name"
                />
              </div>
              <!-- Form Email -->
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  aria-describedby="emailHelpId"
                  placeholder="example@gmail.com"
                />
              </div>
              <!-- Form Mobile Phone -->
              <div class="mb-3">
                <label for="phone" class="form-label">Mobile</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  id="phone"
                  aria-describedby="helpId"
                  placeholder="1234xxx"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
          Close
        </button>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
  var modalId = document.getElementById("modalId");

  modalId.addEventListener("show.bs.modal", function (event) {
    // Button that triggered the modal
    let button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    let recipient = button.getAttribute("data-bs-whatever");

    // Use above variables to manipulate the DOM
  });
</script>
