body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  cursor: pointer;
}

h2 {
  color: #fff;
  margin: 0;
  padding: 10px 0;
}

button {
  font-size: 24px;
  padding: 4px 8px;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1d0ea5;
  max-height: 100px;
}

nav h1 {
  color: #fff;
  padding: 14px 18px 10px;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 12px 18px;
  color: #858585;
}

nav ul li:hover {
  color: #fff;
}

.active {
  color: #fff;
}

.comment-section {
  margin: 12px 18px;
}

.content {
  margin: 12px 18px;
}

.container {
  height: 200vh;
  width: 100%;
}

/* Gaya untuk elemen pembungkus galeri */
.gallery {
  column-count: 3; /* Mengatur jumlah kolom */
  column-gap: 16px; /* Jarak antar kolom */
  padding: 16px;
  box-sizing: border-box;
}

/* Gaya untuk setiap elemen card */
.card {
  margin-bottom: 16px; /* Jarak antara card yang vertikal */
  /* break-inside: avoid; Mencegah card terpotong di kolom */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Gaya untuk gambar */
.card img {
  width: 100%;
  display: block;
  object-fit: cover; /* Mengisi seluruh elemen card tanpa distorsi */
  border-radius: 8px;
}

.video-container {
  display: flex;
  justify-content: space-between;
}

.search-video {
  text-align: center;
  margin: 8px;
}

.search-video button {
  font-size: 18px;
  background-color: #cecece;
  color: #fff;
  border-radius: 0 16px 16px 0;
}

.search {
  padding: 6px 32px;
  border-radius: 16px 0 0 16px;
}

.main-video {
  margin-top: 8px;
  width: 750px;
}

.main-video p {
  font-size: 16px;
}

.video-thumbnail {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  width: 500px;
}

.thumbnail {
  display: flex;
  cursor: pointer;
}

.video-thumbnail img {
  padding: 5px;
}
